.welcome{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	padding-top: 2rem;
	padding-bottom:2rem;
	color: #433d3c;

}

.container-first-page{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	/* border: 1px solid red; */
}


.intro-text{
	text-align: center;
	color: #532e1c;
	font-weight: 550;
	opacity: 80%;
}

.intro-text:hover{
	opacity: 95%;
}


@media only screen and (max-width: 748px) {

	.body{
		/* border: 1px solid red; */
		margin: 0px 0px 0px 0px;
		height: 100%;
		width: 100%;
		display: flex;
		align-self: center;
		background-color: #f4eeed;
	}


	.container-first-page{
		/* border: 1px solid red; */
		height: 50%;
		max-width: 100%;
		padding-left: 1.8rem;
		padding-right: 1.8rem;
		display: flex;
		flex-direction: column;

	}

	.welcome{
		font-size: 2.2rem;
		font-weight: 600;
	}

	.intro-text{
		text-align: center;
		color: #532e1c;
		font-weight: 550;
		opacity: 85%;
		font-size: 1rem;
	}

	.intro-text:hover{
		opacity: 95%;
	}




}
