h1{
	text-align: center;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 3rem;
	padding-top: 2rem;
	padding-bottom:2rem;
	color: #1d3557;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
	height: 80%;
}


.little-container{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-start;
	text-align: left;
}


p{
	color: #457b9d;
	font-weight: 500;
}


label{
	text-align: left;
	color: black;
	font-weight: 670;
}

select{
	width: 6rem;
	border: 2px solid #495057;
	border-radius: 10px;
	padding: 0.1rem 0.1rem 0.1rem 0.3rem;
}

select:first-child{
	background-color: white;
}

input{
	height: 2.2rem;
	border-radius: 0.8rem;
	border: 2px solid #495057;
}

input:focus{
	background-color: #c6def1;
}


.submit{
	border: black 2px solid;
	background-color: black;
	color: white;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	width: auto;
	border-radius: 10px;
	width: 6rem;
}


.submit:hover{
	transform: translateY(2px);
}
