.dropdownButton{
	border: none;
	color: black;
	font-family: 'Merriweather Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.1rem;
	padding: 1.2rem 3rem 0.5rem 1.8rem;
	border-radius: 8px;
	padding-bottom: 0px;
}


.dropdownButton:hover{
	font-family: 'Merriweather Sans', sans-serif;
	text-decoration: none;
	transform: scale(1.2);
}


.dropdown-menu{
	color: black;
	font-size: 1rem;
	border: none;
	background-color: #fceed1;
	opacity: 120%;
	border-radius: 0.8rem;
}


.dropdown-item:{
	padding: 5px 5px 5px 5px;
	color: black;
	padding-left: 6px;
}


.dropdown-item:hover, .dropdown-item:active{
	color: white;
	font-weight: 450;
	background-color: #394f49;
}


.container-left{
	align-self: flex-start;
	display:flex;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: 2rem 2rem 2rem 2rem;
	/* border: 1px solid red; */
}


.container-right{
	align-self: flex-start;
	display:flex;
	flex-grow: 9;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 2rem 2rem 2rem 2rem;
	/* padding-bottom: -80px; */
	/* border: 1px solid red; */
}

.container > div{
	text-align: center;
}


.container-row{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}


.logo{
	background-color: white;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.67);
	-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.67);
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.63);
}

.logo:hover{
	transition: 0.1s;
	transform: scale(1.1) translateX(2px);
}
