.dropdown-content{
	display: none;
}

.container{
	overflow: hidden;
	display: flex;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.icon-menu{
		width: 50px;
		cursor: pointer;
		position: absolute;

	}

	.container{
		flex-direction: column;
		display: flex;
		justify-content:flex-start;
		padding-top: 5rem;
		width: 100%;
		height: 100%;
		background-color: #c6ebc9;
		color: #23120b;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		height: 100%;
		align-items: center;
		cursor: pointer;
	}

	.dropdown-content{
		display: flex;
		flex-direction: column;
		font-size: 1.2rem;
		text-decoration: none;
		text-align: left;
		justify-content: flex-start;
		align-items: center;
		/* background-color: #f3f2da; */
		padding: 1rem 1rem 1rem 1rem;
	}

	.flex-item{
		font-size: 1.8rem;
		padding-top: 2rem;
		padding-bottom: 0.5rem;
		/* border: 1px solid red; */
		width: 100%;
	}

	.little-item{
		text-decoration: none;
		color: #433d3c;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-decoration-style: wavy;

	}

	.little-item:hover{
		text-decoration: none;
		color: #23120b;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-decoration-style: wavy;
		transform: translateX(2px);

	}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.container{
		flex-direction: column;
	}

	.dropdown-content{
		display: none;
	}

	.flex-item{
		padding-bottom: 2rem;
		font-size: 3rem;
	}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
