.dropdown-content{
	display: none;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.icon-menu{
		width: 50px;
		cursor: pointer;
		position: absolute;

	}

	body{
		max-width: 100%;
		max-height: 100%;
		/* border: 1px solid red; */
		margin: 0px 0px 0px 0px;
	}


	.container{
		flex-direction: column;
		display: flex;
		justify-content:flex-start;
		padding-top: 3rem;
		width: 100%;
		height: 100%;
		margin: 0px 0px 0px 0px;
		background-color: #f3f2da;
		background-size: cover;
		color: #23120b;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		align-items: center;
		cursor: pointer;
	}

	.dropdown-content{
		display: flex;
		flex-direction: column;
		font-size: 1.2rem;
		text-decoration: none;
		text-align: left;
		justify-content: flex-start;
		align-items: center;
		/* background-color: #f3f2da; */
		padding: 1rem 1rem 1rem 1rem;
	}

	.flex-item{
		font-size: 1.5rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		/* border: 1px solid red; */
		width: 100%;
	}

	.little-item{
		font-size: 1rem;
		text-decoration: none;
		color: #433d3c;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-decoration-style: wavy;

	}

	.little-item:hover{
		text-decoration: none;
		color: #23120b;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		transform: translateX(2px);

	}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.icon-menu{
		display: none;
	}

	.container{
		flex-direction: column;
	}

	.dropdown-content{
		display: none;
	}

	.flex-item{
		padding-bottom: 2rem;
		font-size: 3rem;
	}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	.container{
		border: 1px solid red;
	}


	.icon-menu{
		display: none;
	}


	.container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: absolute;
	}

	.flex-item{
		font-size: 2rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		align-self: center;
	}

	.font-category{
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
	}

	/* .nav-logo{
		width: 80px;
		padding-top: 0.5rem;
	} */

	.dropdown-content{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		font-size: 1rem;
		justify-content: flex-start;
	}

}
